* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
ul, nav{ 
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:whitesmoke;
  padding: 35px 100px 20px ;
  background-image: url(../images/pex.jpg);
  background-size: cover;
  background-position: center;
}
header h2{
  text-transform: uppercase;
}
header h2:hover{
  color: rgb(45, 45, 58);
  font-weight: 900;
  font-size: x-large;
  list-style-type: none;
  text-shadow: 2px 2px rgb(245, 243, 243);
  transition: 0.3s;
}
header nav{
  display: flex;
}
header nav li{
  margin: 0px 30px;
  font-weight: bolder;
}
header nav li:hover {
  color: rgb(20, 23, 216);
  font-weight: 900;
  font-size: x-large;
  list-style-type: none;
  text-shadow: 2px 2px rgb(245, 243, 243);
  transition: 0.2s;
}

header nav li:first-child{
  margin-left: 0;
}
header nav li:last-child{
  margin-right: 0;
}
@media(max-width:1000px){
  header{
    padding: 20px 50px;
  }
  header h2{
    margin-right:30px;
  }
}
@media(max-width:600px){
  header{
    flex-direction: column;
  }
  header h2{
    margin-bottom: 15px;

  }
  header nav li{
    margin: 0 10px;
    font-weight: normal;
  }
  }

  /*<!---         finished nav bar + img              --->
    <!---           Starting hero section + img       ---> */
    section{ 
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: black;
      padding: 110px 100px;
    }
    @media(max-width:1000px){
      section{
        padding: 100px 50px;
      }
    }
    @media(max-width:600px){
      section{
        padding: 125px 30px;
        align-items: center;
      }
    }
    section p{
      max-width: 800px;
      text-align: center;
      margin-bottom: 35px;
      padding: 0 20px;
      line-height: 2;
    }
    .hero{
      position: relative;
      justify-content: center;
      min-height: 100vh;
      color: #fff;
      text-align: center;
    }
    .hero .hero-img{
      background-image: url(../images/heropic.jpg);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      z-index: -1;
    }
    .hero .hero-img::after{
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.4;
    }
    .hero h1{
      margin-bottom: 15px;
      font-size: 50px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .hero .hero-btn{
      padding: 15px 35px;
      background: rgb(161, 156, 156);
      color: black;
      border-radius: 50px;
      text-transform: uppercase;
      opacity: 0.6;
    }


    .hero .hero-btn:hover{
      color: black;
      background-color: beige;
    }
    @media (max-width:600px){
    .hero{
        min-height: 500px;
      }
    .hero h1{
      font-size: 32px;
    }
    .hero .hero-img .hero-btn{
      padding: 15px 40px;
    }
  }
    /*<!---         finished hero + hero-img              --->
    <!---           Starting About me section             ---> */

.aboutMe{
  align-items: center;
  background-color: whitesmoke;

}
.section-title{
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 4%;
}

ul.about-content{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.about-content li{
  padding: 15px;
}

.about-left {
  flex-basis: 30%;
  background-image:url(../images/UoG.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
}

.about-right{
  flex-basis: 70%;
  font-size: 20px;
}
.aboutMe p{
  max-width: 800px;
  margin-bottom: 40px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
}

.about-right h2{
  margin-bottom: 3%;

}
.about-btn{
  padding: 10px 40px;
  background:rgb(230, 80, 80);
  color: #fff ;
  text-transform: uppercase;
  border-radius: 50px;
}
.about-btn:hover{
  background-color: crimson;
  list-style-type: none;
  transition: 0.13s;
}

@media(max-width:1000px){
  .about.left,
  .about-right{
    flex-basis: 100%;
  }
  .about-content li{
    padding: 8px;
  }
  }
@media(max-width:600px){
  .about.left,
  .about-right{
  padding: auto;
  justify-content: center;
  flex-basis: 100%;
  }
  .aboutMe{
    margin: auto;
    padding: 4%;
  }
}
/*<!---         finished about me               --->
<!---         Starting work section           --->*/

#work{
  background-image: url(../images/work.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
  color:whitesmoke;
  font-style: oblique; 
}
#work::after{
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(24, 23, 23);
  opacity: 0.2;
}

.work-left{
  flex-basis: 30%;
}
.work-left h2{
  font-size: 60px;
  text-decoration: underline;
}
.work-right{
  flex-basis: 70%;
}
.flexbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexbox > li {
  width: 40%;
  height: 100%;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  color: white
}
.flexbox > li :hover {
  border: 6px solid white;
}


#runBuddy:hover::before {
  content: '🏃  ';
  color: #fff;
  text-shadow: 2px 2px white;
}

#robotGladiators:hover::before {
  content: '🤖  ';
  color: #fff;
  text-shadow: 2px 2px white;
}
#codeRefactor:hover::before {
  content: '💻  ';
  color: #fff;
  text-shadow: 2px 2px white;
}
#portfolio:hover::before {
  content: '📜  ';
  color: #fff;
  text-shadow: 2px 2px white;
}
#habitTracker:hover::before {
  content: '✔️  ';
  color: #fff;
  text-shadow: 2px 2px white;
}
#CMS:hover::before {
  content: '🍔 ';
  color: #fff;
  text-shadow: 2px 2px white;
}

#CMS {
  background-image: url(../images/AdobeStock_127928024.jpeg);
  background-position: center;
  background-size: cover;
  content: "";
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
  }

#runBuddy {
background-image: url(../images/herobg.jpg);
background-position: bottom;
background-size: cover;
content: "";
top: 0;
left: 0;
background-color: #000;
opacity: 1.8;
}
#codeRefactor {
  background-image: url(../images/code.jpg);
  background-position: center;
  background-size: cover;
  content: "";
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
  }
#robotGladiators {
  background-image: url(../images/robot\ .jpg);
  background-position: top;
  content: "";
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
  }
#portfolio {
  background-image: url(../images/heropic.jpg);
  background-position: center;
  background-size: cover;
  content: "";
  top: 0;
  left: 0;
  background-color: rgb(250, 246, 246);
  opacity: 0.8;
}
#habitTracker {
  background-image: url(https://i.pcmag.com/imagery/roundups/054YhGcdSr0FkY8pIDnot1L-1..1569492510.jpg);
  background-position: top;
  background-size: cover;
  top: 0;
  left: 0;
  background-color: rgb(250, 246, 246);
  opacity: 0.8;
  color: #000;
}

@media(max-width:1000px){
  .work.left,
  .work-right{
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-content li{
    padding: 8px;
  }
  .flexbox > li {
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;   
  }
}
  @media(max-width:600px){
    .work.left,
    .work-right{
    padding: auto;
    justify-content: center;
    flex-basis: 100%;
    }
    .aboutMe{
      margin: auto;                  
      padding: 4%;
    } 
  .flexbox > li {
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;

  }

}
/*<!---         finished about work               --->
<!---         Starting contact section           ---> */
.contact-area{
  align-items: center;
  color: #fff;
}

#contact{
  background:rgb(42, 46, 59);
  text-decoration: underline;
}

.contact-content{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 35px;
  padding: 10px;
}


.contact-content li{
  padding: 10px 30px;
  flex-basis: 33%;
  text-align: center;
  color:#fff;
  text-transform: uppercase;
  border-radius: 50px;
}
.contact-content li :hover{
  color:blue;
  font-weight: 600;
  font-size: 40px;
  list-style-type: none;
  text-shadow: 3px 3px rgb(245, 243, 243);
  transition: 0.2s;
}
/*<!---       finished contact                 --->
<!---         Add footer                       ---> */
.footer{
  background-color: gainsboro;
  font-size: smaller;
}